/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Style*/

body {
	font: 16px/28px roboto, georgia;
	background-color: lightpink;
	background-image: url(gambar/bg2.png);
}

.top-bar {
	height: 40px;
	background-color: lightpink;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 2px solid salmon;
	box-sizing: border-box;
	padding: 5px;
}

.top-bar h2 {
	text-align: center;
	font-weight: bold;
}

.top-bar a {
	text-decoration: none;
	color: black;
	transition: font-size 0.2s ease;
}

.top-bar a:hover {
	font-size: 1.2em;
}

.container {
	width: 1020px;
	margin: auto;
	box-sizing: border-box;
	padding-top: 50px;
	
}

.header {
	height: 100px;
	margin: 20px auto 0px;
	text-align: center;
	padding-top: 20px;
}

.header .judul {
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	font-weight: bold;
	text-shadow: 5px 5px 10px darkgray;
}

.nav {
	width: 1020px;
	margin: auto;
	padding-bottom: 10px;
	background-color: rgba(255, 182, 193, 1);
	text-align: center;
	box-sizing: border-box;
	border-radius: 20px 20px 0 0;
	border-bottom: 3px solid salmon;
}

.nav ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 75px;

}

.nav a {
	text-decoration: none;
	color: black;
	padding: 5px;
}

.nav a:hover {
	background-color: black;
	color: white;
}

.banner {
	height: 250px;
	background-image: url(gambar/farmasi.png);
	border-top: 3px solid skyblue;
	border-bottom: 3px solid salmon;
	margin-top: 10px;
	border-radius: 0 0 20px 20px;
}

.content {
	box-sizing: border-box;
}

.main {
	width: 700px;
	padding: 20px;
	font-size: 12px;
	box-sizing: border-box;
	background-color: rgba(234, 234, 234, .5);
	border: 2px solid skyblue;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

.main h2 {
	font-size: 28px;
	font-weight: bold;
}

.main .penulis a {
	text-decoration: none;
}

.main p {
	font-family: roboto;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: justify;
}

.sidebar {
	width: 300px;
	box-sizing: border-box;
	background-color: rgba(234, 234, 234, .5);
	float: right;
	padding: 20px;
	margin-top: 10px;
	border-radius: 20px;
	border: 2px solid salmon;
}

.sidebar h3 {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.sidebar img {
height: 150px;
float: left;
padding-right: 7px;
border-radius: 20px;
}

.sidebar p {
	text-align: justify;
	font:  14px/18px roboto;
}

.footer {
	background-color: black;
	padding: 10px;
}

.footer .copyright {
	color: white;
	text-align: center;
	font-size: 12px;
}
















/*CF*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}